<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="fragments/head :: head"></head>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <script th:src="@{~/script-api/Get-rapports.js}"></script>


<body id="page-top">
  <!-- Page Wrapper -->
  <div id="wrapper">
    <!--  sidebar -->
      <div th:insert="fragments/sidebar :: sidebar"></div>
      <!--  end sidebar -->
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
      <!-- Main Content -->
      <div id="content">
        <!--  topbar -->
      <div th:insert="fragments/topbar :: topbar"></div>
       <!--  end topbar -->
        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
            <div class="col-lg-12">
              <!-- Basic Card Example -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Travaux</h6>
                </div>
                <div class="card-body">
                 <!-------------------------- sujet -------------------------------->
                   <input id="Sujet" type="Hidden" value="TRAVAUX"> 
             <!--------------------------- sujet -------------------------------->
             <!---------------------------select rapport -------------------------------->

                <div id="rapport">
                    <div class="form-group">
                       <label for="exampleFormControlSelect1">select rapport</label>
                         <select class="form-control" id="selectrapport">
                           <option>1</option>
                           <option>2</option>
                           <option>3</option>
                           <option>4</option>   
                           <option>5</option>
                         </select>
                    </div>
                 </div>

       <!---------------------------fin select rapport -------------------------------->
       <!---------------------------select filtre -------------------------------->
                  <div id="filtre">
                     <div class="card shadow mb-4">
                        <div class="card-header py-3">
                           <h6 class="m-0 font-weight-bold text-primary">filters disponible</h6>
                        </div>
                        <div class="card-body">
                          <div class="row">
                             <div class="custom-control custom-checkbox col-md-3 mb-2">
                                 <input type="checkbox" class="custom-control-input" id="f1">
                                   <label class="custom-control-label" for="f1">filter date</label>
                              </div>
                              <div class="custom-control custom-checkbox col-md-3 mb-2"> 
                                <input type="checkbox" class="custom-control-input" id="f2">
                                <label class="custom-control-label" for="f2">filter departement</label>
                              </div>
                              <div class="custom-control custom-checkbox col-md-3 mb-2">
                                <input type="checkbox" class="custom-control-input" id="f3">
                                <label class="custom-control-label" for="f3">filter date</label>
                              </div>
                              <div class="custom-control custom-checkbox col-md-3 mb-2">   
                                  <input type="checkbox" class="custom-control-input" id="f4">
                                  <label class="custom-control-label" for="f4">filter departement</label>
                              </div>
                              <div class="custom-control custom-checkbox col-md-3 mb-2">
                                <input type="checkbox" class="custom-control-input" id="f1">
                                <label class="custom-control-label" for="f1">filter date</label>
                             </div>
                             <div class="custom-control custom-checkbox col-md-3 mb-2">
                               <input type="checkbox" class="custom-control-input" id="f2">
                               <label class="custom-control-label" for="f2">filter departement</label>
                             </div>
                             <div class="custom-control custom-checkbox col-md-3 mb-2">
                               <input type="checkbox" class="custom-control-input" id="f3">
                               <label class="custom-control-label" for="f3">filter date</label>
                             </div>
                             <div class="custom-control custom-checkbox col-md-3 mb-2">  
                               <input type="checkbox" class="custom-control-input" id="f4">
                               <label class="custom-control-label" for="f4">filter departement</label>
                             </div>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div align="right">
                  <a href="#" class="btn btn-primary btn-icon-split">
                    <span class="icon text-white-50">
                      <i class="fas fa-flag"></i>
                    </span>
                    <span class="text">suivant</span>
                  </a>
                  </div>
           <!---------------------------select filtre -------------------------------->
                  </div>
                </div>
              </div>

            </div>            
        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->


    </div>
    <!-- End of Content Wrapper -->
        <!--  footer -->
           <footer th:replace="fragments/footer :: footer" ></footer>
        <!--  end footer -->
  </div>
  <!-- End of Page Wrapper -->
 <!-- Bootstrap core JavaScript + Scroll to Top Button +  Logout Modal-->
    <div th:insert="fragments/js :: js"></div>
  <!--  end Bootstrap core JavaScript + Scroll to Top Button +  Logout Modal-->
</body>

</html>
